.header-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: var(--bg-color-principal);
    padding: 12px;
    max-width: 80vw;
    margin: 15px 15px 0 330px;
}

.header-navigation .navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-navigation .navigation .arrow-left{
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-color-arrow);
    background-color: var(--bg-color-arrow-opacity);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header-navigation .header-search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin:  0 0 0 8px;
    background-color: var(--bg-color-search);
    border-radius: 500px;
    border: 1px solid transparent;
}

.header-navigation .header-search img{
    width: 16px;
    height: 16px;
    margin: 0 0 0 10px;
}

.header-navigation .header-search input{
    background: transparent;
    border: 0;
    padding: 0 100px 0 12px;
    color: var(--bg-color-white);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header-login{
    display: flex;
    align-items: center;
}

.header-login .subscribe{
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    border: 0;
    margin: 0 32px 0 0;
}

.header-login .login{
    width: 100px;
    height: 48px;
    color: var(--bg-color);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    border: 0;
}

.header-search:hover{
    border: 1px solid var(--bg-color-white);
}

.header-login .subscribe:hover{
    transform: scale(1.04);
    color: var(--bg-color-white);
}

.header-login .login:hover{
    transform: scale(1.04);
}